body {
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

main h1 {
    color: rgb(128, 128, 128);
}

main h3 a {
    text-decoration: none;
    color: rgb(0, 128, 0);
}

h2 + table {
    box-shadow: 0px 2px 5px rgb(0, 0, 0); 
}

table tbody tr:nth-child(even) {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.334);
}

footer {
    padding: 24px 0;
    background-color: darkkhaki;
    text-indent: 20px;
}

img {
    height: 200px;
    width: auto;
}

nav {
    background-color: orangered;
    padding: 16px;
}

nav a {
    text-decoration: none;
    color: white;
}
